.analysis-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .toggle-button {
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .toggle-button:hover {
    background-color: #0056b3;
  }
  
  canvas {
    max-width: 100%;
    margin-top: 20px;
  }
  